.label {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.addBtn {
    cursor: pointer;
    padding: 5px;
    display: inline-block;
    background-color: gray;
    border: 1px solid black;
	border-radius: 5px;
    transition: background-color .25s cubic-bezier(.4,0,.2,1);
}

.addBtn:hover {
    background-color: #fff;
}

.label input {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
/* 
.label input:active {
    border-color: blueviolet;
} */